<html>
  <head>
    <link rel='stylesheet' href = '/vendor/bootstrap/dist/css/bootstrap.css'>
    <link rel='stylesheet' href = '/css/mystyle.css'>
  </head>


  <div class = 'page-header'>Acme Product Categories</div>



  <body class = 'well'>
    <nav class="navbar navbar-default">


      <ul class="nav navbar-nav">
        <li class ="active"><a href="/">Home</a></li>
      {% for cats in categories%}
        <li><a href="/categories/{{cats}}/products">{{cats}}</a></li>
      {% endfor %}
      </ul>
    </nav>

    <form action="/categories" method="POST">
      <div class="form-group">
        <input class="form-control" name = "category" placeholder="category" />

        <button class = 'btn btn-primary'>Add </button>
      </div>
    </form>




  </body>









</html>
